NET "sysclk" LOC = "C9";
NET "closed_sw" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP ;
NET "closed_sw" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP ;
NET "closed_sw" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP ;
NET "closed_sw" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP ;

NET "btn_X0" LOC = "D18" | IOSTANDARD = LVTTL | PULLDOWN;
NET "btn_X1" LOC = "H13" | IOSTANDARD = LVTTL | PULLDOWN;
NET "btn_reset" LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN;

