NET "sysclk" LOC = "C9";
NET "Enable_SW[0]" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP ;
NET "Enable_SW[1]" LOC = "L14" | IOSTANDARD = LVTTL | PULLUP ;
NET "Enable_SW[2]" LOC = "H18" | IOSTANDARD = LVTTL | PULLUP ;
NET "Enable_SW[3]" LOC = "N17" | IOSTANDARD = LVTTL | PULLUP ;
NET "Bt_Minus" LOC = "D18" | IOSTANDARD = LVTTL | PULLDOWN;
NET "Bt_Plus" LOC = "H13" | IOSTANDARD = LVTTL | PULLDOWN;
NET "Pulse" LOC = "A6" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 2;