NET "sysclk" LOC = "C9";
NET "Bt_Up" LOC = "V4" | IOSTANDARD = LVTTL | PULLDOWN;
NET "Bt_Down" LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN;
NET "Bt_Left" LOC = "D18" | IOSTANDARD = LVTTL | PULLDOWN;
NET "Bt_Right" LOC = "H13" | IOSTANDARD = LVTTL | PULLDOWN;
NET "Bt_Centre" LOC = "V16" | IOSTANDARD = LVTTL | PULLDOWN;
NET "LEDs[0]" LOC = "F12" | IOSTANDARD = LVTTL |SLEW = SLOW | DRIVE = 8;
NET "LEDs[1]" LOC = "E12" | IOSTANDARD = LVTTL |SLEW = SLOW | DRIVE = 8;
NET "LEDs[2]" LOC = "E11" | IOSTANDARD = LVTTL |SLEW = SLOW | DRIVE = 8;
NET "LEDs[3]" LOC = "F11" | IOSTANDARD = LVTTL |SLEW = SLOW | DRIVE = 8;
//NET "Storage_SW" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP ;
//NET "Reset_SW" LOC = "N17" | IOSTANDARD = LVTTL | PULLUP ;
NET "Pulse_X" LOC = "A6" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 2;
NET "Pulse_Y" LOC = "B6" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 2;
NET "SW[0]" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP ;
NET "SW[1]" LOC = "L14" | IOSTANDARD = LVTTL | PULLUP ;
NET "SW[2]" LOC = "H18" | IOSTANDARD = LVTTL | PULLUP ;
NET "SW[3]" LOC = "N17" | IOSTANDARD = LVTTL | PULLUP ;